<div class="container">
  <h1 class="centered mt-3 mb-5">My past trips</h1>
  <div class="row mt-3 mb-5">
    <% if @user.trips.size > 0 %>
      <% @user.trips.order(date: :desc).each do |trip| %>
        <div class="col-6">
          <div class="card mb-3 custom-card">

            <%= link_to trip_path(trip), method: :delete, data: {confirm: "Are you sure?"}  do %>
              <button type="button" class="close close-button-position" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            <% end %>
            <div class="d-flex">
              <div class="card-image mx-auto d-block">
                <% if  trip.photo.attached? %>
                  <%= cl_image_tag trip.photo.key, width: 230, height: 320, crop: "fill" %>
                <% else %>
                  <img src="https://images.unsplash.com/photo-1454789476662-53eb23ba5907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=689&q=80" width="230", height="320">
                <% end %>

                 <a class="btn" data-toggle="modal" data-target="#modal-<%=trip.id %>">
                Update Trip
               </a>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div class="card-content p-3">

                  <div class="d-flex align-items-center mb-3">
                    <%= image_tag 'https://images.unsplash.com/photo-1593872222524-361daae4f782?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60', class: "avatar mr-2" %>

                    <strong> <%= trip.date.strftime ("%A, %e, %b, %Y") %> </strong>

                  </div>
                  <p class="text-secondary"> <strong> How was your day? </strong> </p>
                  <div class="text-container">
                    <p> <%= trip.description %> </p>
                  </div>
                </div>
                <div class="text-info">
                  <div class="d-flex">
                    <div class="bg-light border flex-grow-1 bg-gradient-light stat-text">
                     <p> Wave height: <br> <b><%= trip.wave_height %>m</b> </p>
                    </div>
                    <div class="bg-light border flex-grow-1 stat-text">
                      <p>Wave length: <b><%= trip.wave_length %>m</b> </p>
                    </div>
                    <div class="bg-light border flex-grow-1 stat-text">
                      <p> Wind speed: <b><%= trip.wind_speed %>km/h</b> </p>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="bg-light border flex-grow-1 stat-text">
                     <p> Air temperature: <b><%= trip.air_temperature %>℃</b></p>
                    </div>
                    <div class="bg-light border flex-grow-1 stat-text">
                      <p> Sea temperature: <b><%= trip.sea_temperature %>℃</b></p>
                    </div>
                    <div class="bg-light border flex-grow-1 stat-text-radius">
                     <p>  Wind gusts:<b> <%= trip.wind_gusts %> km/h </b> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modal-<%=trip.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered boardal" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "trips/edit", trip: trip  %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <% else %>
        <p id="no-trips-p">You've not logged any trips yet.</p>
  <% end %>
</div>


