<div class="container">
  <div>
    <h1>Get past sailing weather</h1>
  </div>

  <div class="date-select">
    <%= simple_form_for @trip do |f| %>
      <%= f.input :date, start_year: Date.today.year - 3, end_year: Date.today.year %>
      <%= f.input :time %>

      <div class="map">
        <div id="map"
               style="width: 100%; height: 500px;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <pre id="coordinates" class="coordinates"></pre>
      </div>

      <btn class="animated bounceIn btn btn-new-trip mt-2" id="getweather" data-stormglass-api-key="<%= ENV['STORMGLASS_API_KEY'] %>"> Get My Weather </btn>
       <%= f.input :longitude, as: :hidden %>
       <%= f.input :latitude, as: :hidden %>
    <% end %>
  </div>

  <div class="modal">

  </div>

</div>

