<div class="container mt-3" id="new-trip-container">
  <div>
    <h1>Get past sailing weather</h1>
  </div>

  <div class="date-select">
    <%= simple_form_for @trip do |f| %>
      <%= f.input :date, label: "Pick a date and time", as: :string, input_html: {class: "datepicker"} %>

      <div class="map">
        <div id="map"
               style="width: 100%; height: 500px;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
          <pre id="coordinates" class="coordinates"></pre>
      </div>

      <btn class="animated bounceInDown btn btn-new-trip mt-3" data-toggle="modal" data-target="#exampleModal" id="getweather" data-stormglass-api-key="<%= ENV['STORMGLASS_API_KEY'] %>"> Get My Weather </btn>
       <%= f.input :longitude, as: :hidden %>
       <%= f.input :latitude, as: :hidden %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Here is your weather:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @trip do |f| %>
          <div class="row", id="row_test">
             <div class="col-sm">
                <%= f.input :wave_height, label: 'Wave heigt in m:' %>
              </div>
            <div class="col-sm">
               <%= f.input :wave_length, label: 'Wave period in s:'%>
            </div>
           </div>
           <div class="row", id="row_test_two">
             <div class="col-sm">
              <%= f.input :wind_speed, label: 'Wind speed in km/h:'%>
             </div>
             <div class="col-sm">
               <%= f.input :wind_gusts, label: 'Wind gusts in km/h:' %>
              </div>
            </div>
            <div class="row", id="row_test_three">
                <div class="col-sm">
                 <%= f.input :air_temperature, label: 'Air temp in C:'%>
                </div>
                <div class="col-sm">
                <%= f.input :sea_temperature, label:'Water temp in C:' %>
              </div>
            </div>

          <%= f.input :description, label: 'Logbook comments:' %>
          <%= f.button :submit, 'Save to Logbook', class: "btn-primary d-none", id: "log_button" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

